/*-----------------PAGINA-----------------------*/

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px, para unidades relativas como rem/em 1 rem = 10px*/
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
}

.info-user{
    flex: 1; 
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
    flex-direction: column;
}

.info-user .form-img-user,
.info-user.show-teste .cad
{
    display: none;
}

.info-user.show-teste {
    display: flex;
}

.info-user .form-op,
.info-user.show-img-perfil .form-img-user
{
    display: none;
}

.info-user.show-img-perfil .form-op{
    display: flex;
}

/*-----------------CAIXA AZUL DE FUNDO-----------------------*/

.form-cad{
    background-color:#4b5fd4;
    border-radius: 20px;
    height: 450px;
    width: 520px;
    margin: 0 205px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

/*-----------------PAPEL DE PAREDE CONDOMINIO-----------------------*/

.img-logincad {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100vh; 
}

#img-logincad-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----------------TEXTO TITULO-----------------------*/

@font-face {
    font-family: 'Tommy Medium Personal';
    src: url(../fontes/MADE\ TOMMY\ Medium_PERSONAL\ USE.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tommy Regular Personal';
    src: url(../fontes/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tommy Light Personal';
    src: url(../fontes/MADE\ TOMMY\ Light_PERSONAL\ USE.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

.cabecalho{
    text-align: center;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 10px 0;
}

.titulo{
    font-size: 4rem;
    font-family: 'Tommy Medium Personal';
    color: white;
}

.subtitulo{
    font-size: 2rem;
    font-family: 'Tommy Light Personal';
    color:white
}

.subtitulo a{
    text-decoration: none;
    color: white;
}

.subtitulo a:hover{
    color: #202855;
    
}

/*-----------------LOGO-----------------------*/

.form-logo-div{
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 0rem;
    margin: 10px 365px;

}

.form-logo-img{
    max-width: 200px;
    max-width:200px;
    object-fit: cover;
    border-radius: 100%;
    text-align: center;
    margin: 10px 0;
}


/*-----------------TEXTO ACIMA DAS CAIXAS DE TEXTO----------------------------------------*/


.label-infos-usuarios{
    font-size: 2rem;
    font-family: 'Tommy Regular Personal';   
    text-align: left;
    color: white;
    margin: 0 5px;
}

/*-----------------ASTERISCO OBRIGATORIO-----------------------------------------*/

.form-dados-obrigatorio{
    color: red;
 }

/*-----------------CAIXAS DE TEXTO-----------------------------------------*/

.form-input-text{
    width: 100%; 
    padding: 1.5rem;
    max-width: 60rem;
    border-radius: 10px;
    border-color: #202855;
    font-size: 1.8rem;
    margin: 10px 0;
}

/*-----------------BOTAO PROXIMO-----------------------------------------*/

.custom-btn {
    background: white;
    color: #4b5fd4;
    font-family: 'Tommy Regular Personal';
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em white;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    margin: 20px 0;
  }
  
  .custom-btn .icon {
    background: #4b5fd4;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em white;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .custom-btn:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .custom-btn .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: white;
  }
  
  .custom-btn:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .custom-btn:active .icon {
    transform: scale(0.95);
  }



  

